
#content{
    display: flex;
    flex-direction: column;
    color: rgb(214, 164, 37);
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 6rem;
}


.about-title{
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-shadow: 2px 3px 20px black;
}

.about-content{
    width: 60ch;
    line-height: 2rem;
    text-align: justify;
    font-weight: 500;
    font-size: 1.2rem;
}

