

body {
    margin: 0;
    background-image: url("../restaurant-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    display: grid;
    grid-template-rows: minmax(6rem, 1fr) minmax(50rem, 8fr);
    grid-template-columns: minmax(25rem, 1fr);
}

body{
    font-family: helvetica, sans-serif;
    height: 100vh;
}

/* HEADER */

header > nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


header {
    backdrop-filter: blur(4px);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 0.125);
}

button {
    appearance: none;
    border-style: none;
    border-radius: 5rem;
    padding: 0.9rem 2.5rem;
    background-color: rgba(200, 153, 34, 0.689);
}

button {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

